/* Navbar styles */
.navbar {
  position: fixed; /* Ensures it's fixed on the left */
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: #2c3e50;
  z-index: 10; /* Lower than the logo's z-index */
  transition: width 0.3s ease;
}

.navbar.expanded {
  width: 200px;
}

/* Navbar item styles */
.nav-item {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
}

/* Icon styles */
.nav-item i {
  font-size: 20px;
  margin-right: 15px;
}

/* Text visibility */
.nav-item .nav-text {
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease;
}

.navbar.expanded .nav-item .nav-text {
  opacity: 1;
}

/* Hover effect on nav item */
.nav-item:hover {
  background-color: #34495e;
}

/* Prevent anchor tag styles from affecting colors */
.nav-item a {
  text-decoration: none; /* Remove underline */
  color: white; /* Set the default color to white */
  display: flex; /* To align the icon and text properly */
  align-items: center;
}

/* On hover of the nav item, change the anchor text color */
.nav-item a:hover {
  color: #ecf0f1; /* Change text color on hover */
}

/* Active link color */
.nav-item a.router-link-active {
  color: #1abc9c; /* Active link color */
}
